.category-pill {
    background: $primary;
    color: white;
    z-index: 2;
    margin: 0 0 5px 0;
    font-size: 12px;
    padding: 3px 6px 4px 6px;
    font-weight: 500;
}

.category {
    color: $primary;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}