.news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 48px 0;

    .important {
        grid-row-start: 1;
        grid-row-end: span 2;
    }

    .stretched {
        display: flex;
        grid-column-start: 2;
        grid-column-end: span 2;
    }

    article {
        img {
            width: 100%;
        }

        .img-ct {
            width: 462px;
            height: 462px;
            background: url(../assets/img/27-1068x713.jpg)no-repeat center/cover;
        }

        .img-ct2 {
            width: 100%;
            height: 204px;
            background: url(../../assets/img/18-1068x712.jpg)no-repeat center/cover;
        }

        .img-ct3 {
            width: 100%;
            height: 204px;
            background: url(../../assets/img/23-1068x712.jpg)no-repeat center/cover;
        }

        .img-ct4 {
            width: 100%;
            height: 100%;
            background: url(../../assets/img/26-1068x712.jpg)no-repeat center/cover;
        }

        .news-txt {
            padding: 24px 20px;
            border: 1px solid #EAEAEA;
            border-top: none;

            .category {
                color: $red;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                font-size: 12px;
                margin: 0 0 10px 0;
                text-transform: uppercase;
            }

            h3 {
                font-weight: 700;
                font-size: 20px;
                text-transform: uppercase;
                line-height: 26px;
            }
        }

        .right-txt {
            border: 1px solid #EAEAEA;
            border-left: none;
        }



    }


}