
.grid-and-sticky-ct {
    display: flex;
    .news-cards-ct {
        display: grid;
        grid-template-columns: repeat(3, 280px);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        justify-content: center;
    
        .card {
            width: 100%;
            height: 400px;
            position: relative;
    
            .card-img {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
            }
    
            .news1 {
                height: 170px;
                top: 12%;
                background: url('../assets/img/27-1068x713.jpg')no-repeat center/cover;
            }
    
            .news2 {
                background: url('../assets/img/35-1068x711.jpg')no-repeat center/cover;
            }
    
            .news3 {
                background: url('../assets/img/40-1068x1602.jpg')no-repeat center/cover;
            }
    
            .news4 {
                background: url('../assets/img/30-1068x647.jpg')no-repeat center/cover;
            }
    
            .news5 {
                background: url('../assets/img/34-1068x713.jpg')no-repeat center/cover;
            }
    
            .news6 {
                background: url('../assets/img/39-1068x712.jpg')no-repeat center/cover;
            }
    
            .news7 {
                background: url('../assets/img/29-1068x712.jpg')no-repeat center/cover;
            }
    
            .news8 {
                background: url('../assets/img/33-1068x712.jpg')no-repeat center/cover;
            }
    
            .news9 {
                background: url('../assets/img/38-1068x711.jpg')no-repeat center/cover;
            }
    
            .card-txt {
                display: flex;
                flex-direction: column;
                position: absolute;
                bottom: 30px;
                background: white;
                width: 80%;
                text-transform: uppercase;
    
                .category {
                    font-family: 'Montserrat', sans-serif;
                    color: $red;
                    font-weight: 700;
                    font-size: 12px;
                    padding: 10px 0 0 0;
                }
    
                .news-title {
                    font-weight: 700;
                    font-size: 20px;
                    padding: 10px 0;
                    line-height: 26px;
                }
            }
        }
    
        .swiper {
            box-shadow: 1px 1px 10px lightgray;
            padding: 15px;
    
            .parentpadding {
                position: relative;
                width: 100%;
            }
    
            .card-txt {
                background: transparent;
                text-align: center;
                width: 90%;
            }
    
    
        }
    
    }
}
