.sticky-ct {
    position: sticky;
    .stretched-news {
        article {
            a {
                .news-ct {
                    display: flex;
    
                    .news-img {
                        background: url('../assets/img/11-696x1044.jpg')no-repeat center/cover;
                        width: 100%;
                        height: 5vh;
                    }
                }
            }
        }
    }
}
